body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	background-color: #f8f6fc;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.servo-container {
	text-align: center;
	margin: 2em;
	display: block;
	padding: 2em;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
	border-radius: 5px;
}

.servo-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.servo-form-container > * {
	margin: 5px 0;
}

.servo-form-container > input {
	padding: 5px;
	border: 0;
	max-width: 100px;
	box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
	border-radius: 5px;
	width: 100px;
}

.servo-form-container > button {
	background-color: white;
	box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	outline: none;
	margin-top: 20px;
}

.servo-form-container > button:active {
	background-color: white;
	box-shadow: none;
}

.servo-form-container > .error-message {
	color: red;
	margin-top: 10px;
}