@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	background-color: #f8f6fc;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input-container {
	min-height: 75px;
	display: flex;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.input-container > * {
	margin: 1.5em 2em;
}

.input-container > button {
	color: white;
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	outline: none;
	box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
}

.input-container > button:active {
	background-color: white;
	color: black;
	box-shadow: none;
}

.input-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.input-group > input {
	padding: 5px;
	border: 0;
	box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
	border-radius: 5px;
}

.servo-header > button {
	background-color: white;
	box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	outline: none;
	margin-top: 20px;
}

.servo-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.servo-form-container > div {
	display: flex;
	flex-direction: column;
}

.servo-form-container > div > * {
	margin: 5px 0;
}

.servo-form-container > div > input {
	padding: 5px;
	border: 0;
	max-width: 100px;
	box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
	border-radius: 5px;
	width: 100px;
}

.servo-form-container > div > button:active {
	background-color: white;
	box-shadow: none;
}

.error-message {
	color: red;
	margin-top: 10px;
	text-align: center;
}